<%= form_for(:user, url: { action: "is_authorized", params: {id: @user.id}}, class: "contents") do |form| %>
  <% if @error %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      Incorrect password
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :password %>
    <%= form.text_field html: { autocomplete: "off", autocapitalize="none", autocorrect="off" }, :password, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="inline">
    <%= form.submit value: "Login", class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
    <%= link_to "Cancel", @user, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
<% end %>
