<div id="<%= dom_id user %>" class="flex flex-col w-full">
  <div class="bg-white shadow-lg rounded-lg my-4">
    <div>
      <div class="max-h-72 overflow-hidden">
        <% if user.avatar.attached? and user.avatar.representable? %>
          <%= image_tag user.avatar.variant(resize_to_limit: [400, 400]), class: 'rounded-t-lg min-w-full' %>
        <% end %>
      </div>
      <div class="p-4">
        <% if user.name %>
          <h2 class="text-gray-800 text-3xl font-semibold"><%= link_to user.name, user %></h2>
        <% else %>
          <p class="font-medium text-gray-500">Profile not set up.</p>
        <% end %>
        <p class="font-medium text-gray-500"><%= user.title %></p>
        <p class="mt-2 text-gray-800"><%= user.bio %></p>
      </div>
    </div>
  </div>
</div>
