<div id="<%= dom_id user %>" class="flex flex-col w-full">
  <div class="bg-white shadow-lg rounded-lg my-4">
    <div>
      <div class="max-h-72 overflow-hidden">
        <% if user.avatar.attached? and user.avatar.representable? %>
          <%= image_tag user.avatar.variant(resize_to_limit: [400, 400]), class: 'rounded-t-lg min-w-full' %>
        <% end %>
      </div>
      <div class="p-4">
        <h2 class="text-gray-800 text-3xl font-semibold"><%= link_to user.name, user %></h2>
        <p class="font-medium text-gray-500"><%= user.title %></p>
        <p class="mt-2 text-gray-800"><%= user.bio %></p>
      </div>
    </div>
  </div>
  <ol class="border-l border-gray-300 m-4">
    <li>
      <div class="flex flex-start items-center pt-3">
        <div class="bg-gray-300 w-2 h-2 rounded-full -ml-1 mr-3"></div>
        <p class="text-gray-500 text-sm">01.07.2021</p>
      </div>
      <div class="mt-0.5 ml-4 mb-6">
        <h4 class="text-gray-800 font-semibold text-xl mb-1.5">Title of section 1</h4>
        <p class="text-gray-500 mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque diam non nisi semper, et elementum lorem ornare. Maecenas placerat facilisis mollis. Duis sagittis ligula in sodales vehicula.</p>
      </div>
    </li>
    <li>
      <div class="flex flex-start items-center pt-2">
        <div class="bg-gray-300 w-2 h-2 rounded-full -ml-1 mr-3"></div>
        <p class="text-gray-500 text-sm">13.09.2021</p>
      </div>
      <div class="mt-0.5 ml-4 mb-6">
        <h4 class="text-gray-800 font-semibold text-xl mb-1.5">Title of section 2</h4>
        <p class="text-gray-500 mb-3">Libero expedita explicabo eius fugiat quia aspernatur autem laudantium error architecto recusandae natus sapiente sit nam eaque, consectetur porro molestiae ipsam an deleniti.</p>
      </div>
    </li>
    <li>
      <div class="flex flex-start items-center pt-2">
        <div class="bg-gray-300 w-2 h-2 rounded-full -ml-1 mr-3"></div>
        <p class="text-gray-500 text-sm">25.11.2021</p>
      </div>
      <div class="mt-0.5 ml-4 pb-5">
        <h4 class="text-gray-800 font-semibold text-xl mb-1.5">Title of section 3</h4>
        <p class="text-gray-500 mb-3">Voluptatibus temporibus esse illum eum aspernatur, fugiat suscipit natus! Eum corporis illum nihil officiis tempore. Excepturi illo natus libero sit doloremque, laborum molestias rerum pariatur quam ipsam necessitatibus incidunt, explicabo.</p>
      </div>
    </li>
  </ol>
</div>
