<div class="w-full">
  <%= render @user %>
  <%= link_to 'Edit', edit_url, class: "ml-2 mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <% if !@user.greeted.empty? %>
    <h3>People I Greeted (<%= @user.greeted.count %>)</h3>
    <% @user.greeted.each do |relationship| %>
      <%= relationship.greeted.name %>
    <% end %>
  <% end %>
  <% if !@user.greeted_me.empty? %>
    <h3>Who's Greeted Me (<%= @user.greeted_me.count %>)</h3>
    <% @user.greeted_me.each do |relationship| %>
      <%= relationship.user.name %>
    <% end %>
  <% end %>
</div>
