<!DOCTYPE html>
<html>
  <head>
    <title>Hello!</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
      <div class="flex justify-center items-center">
        <div class="mt-6 text-center">
          Scan your QR code to login.
        </div>
      </div>
  </body>
</html>
